$main-bg: #fff;
$main-color: #992fe2;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;
$colors: (
    "blue": #4267b2,
    "orange": #fbb96b,
    "yellow": #efd910,
    "white": #fff,
    "black": #000,
    "main": $main-color,
    "red": #ff0000,
);

$header-height: 100px;
$header-mobile-height: 60px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-img: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$mobile-width: 720px;