$main-bg: #fff;
$main-color: #992fe2;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;

$header-height: 100px;
$header-mobile-height: 60px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-img: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$mobile-width: 1080px;