.cart {
    &__header {
        padding: 20px 0;
    }

    &__item {
        padding-left: 20px;

        &__info {

            &__name {
                font-weight: 500;
                font-size: 1.25rem;
                padding-bottom: 20px;

                @include mobile {
                    font-size: 1rem;
                    padding-bottom: 5px;
                }

                &__detail {
                    padding-top: 20px;
                    font-size: 1rem;
                    text-transform: uppercase;

                    @include mobile {
                        font-size: 0.7rem;
                        font-weight: 500;
                        padding-top: 5px;
                    }
                }
            }

            &__price {
                font-weight: 600;
                font-size: 1.25rem;
                padding-bottom: 20px;

                @include mobile {
                    padding-bottom: 5px;
                }
            }

            &__del {
                .anticon {
                    padding-top: 20px;
                    font-size: 1.75rem;

                    @include mobile {
                        padding-top: 10px;
                        font-size: 1.25rem;
                    }

                    &:hover {
                        color: rgb(225, 61, 61);
                    }
                }
            }

        }

        &__image {
            img {
                border-radius: 20px 0 20px 0;
            }
        }
    }

    &__info {
        &__txt {
            p {
                font-size: 1.25rem;

                @include mobile {
                    font-size: 1rem;
                }
            }

            &__price {
                font-size: 1.5rem;
                font-weight: 500;
            }
        }

        &__btn {
            margin-top: 20px;

            @include mobile {
                @include flex(flex-start, flex-start);
                flex-direction: column;
            }

            .ant-btn {
                width: 150px;
                height: 50px;
                margin-right: 10px;
                text-transform: uppercase;
                font-size: 0.9rem;

                @include mobile {
                    width: 120px;
                    height: 30px;
                    font-size: 0.65rem;
                    margin-top: 10px;
                }
            }
        }
    }

    &__list {
        border: 1px solid $main-color;
        border-radius: 10px;
    }
}