.catalog {
    padding-top: 20px;

    &__header {
        &__route {
            padding-bottom: 20px;
        }

        &__search {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__filter {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 500;

            @include mobile{
                font-size: 1rem;
            }

            .anticon {
                padding-left: 10px;
            }
        }
    }

    &__content {
        padding-top: 50px;

        .ant-spin{
            margin-left: 50%;
            transform: translateX(-50%);
            font-size: 2rem;
            min-height: 300px;
        }

        .ant-row{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
        }

    }
}

.catalog__filter {
    &__title {
        font-weight: 500;
        font-size: 1.5rem;
        padding: 10px 0;
    }

    &__content {
        font-size: 1.25rem;
        padding-bottom: 20px;
    }

    .ant-checkbox-wrapper {
        width: 40%;
        height: 2rem;

        >span:last-child {
            width: 150px;
        }
    }

    button {
        width: 100px;
        left: 5%;
        margin-right: 20px;
    }
}

.ant-drawer-body {
    margin-left: 30px;
}