.custom-checkbox{
    @include flex(center, flex-start);
    cursor: pointer;

    &:hover{
        color: $main-color;
    }

    &__label{
        margin-left: 5px;
    }

    input{
        cursor: pointer;
    }
}