.footer{
    width: 100%;
    padding: 0 20px 20px;
    font-size: 1.1rem;

    &__title{
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        margin-top: 2rem;
        font-weight: 600;
    }

    &__content{
         p{
            margin-bottom: 0.5rem;
         }
    }

    .ant-col{
        column-span: 24;
    }
}