.header {
    position: sticky;
    top: -80px;
    z-index: 100;
    background-color: #fff;

    &__logo {
        img {
            height: 80px;
        }

        margin: 20px 20px;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;

        &__left {
            width: 400px;
            flex-grow: 1;

            .ant-menu-item {

                .anticon,
                .ant-menu-title-content {
                    font-size: 1.5rem;
                }
            }

        }

        &__right {
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;

            .anticon {
                font-size: 2rem;
                padding-left: 20px;
            }
        }

        &__icon {
            padding: 10px 10px;

            .anticon{
                font-size: 1.75rem;
            }
        }

    }
}

.ant-drawer-body{
    ul{
        font-size: 1.5rem;
        .anticon{
            font-size: 1.5rem;
        }
    }
}

@media (max-width: $mobile-width){
    .header__menu__left{
        display: none;
    }
}

@media (min-width: $mobile-width){
    .header__menu__icon{
        display: none;
    }
}