.ant-carousel {
    .hero-slider__item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__info {
            width: 60%;

            &__title,
            &__description {
                margin-bottom: 60px;

                @include mobile {
                    margin-bottom: 20px;
                }
            }

            &__title {
                font-family: 'M PLUS Rounded 1c', sans-serif;
                font-weight: 600;
                font-size: 3.5rem;
                line-height: 5rem;
                color: $main-color;

                @include mobile {
                    font-size: 1.75rem;
                    line-height: 2.25rem;
                    font-weight: 500;
                    padding-top: 20px;
                }
            }

            &__description {
                color: $txt-second-color;
                font-size: 1.25rem;
                line-height: 1.5rem;

                @include mobile{
                    font-size: 1rem;
                }
            }

            &__btn {
                display: flex;
                justify-content: center;
                padding-bottom: 30px;
            }

        }

        &__image {
            width: 40%;
            flex-grow: 1;

            img {
                width: 100%;
            }
        }

    }

}