.product {
    &__image {

        &__main,
        &__sub {
            img {
                width: 100%;
            }
        }
    }

    &__info {
        padding: 0 2rem;

        &__title {
            font-size: 1.75rem;
            font-weight: 500;
            color: $main-color;
        }

        &__item {
            margin-top: 2rem;

            &__price {
                font-size: 1.5rem;
                font-weight: 700;
            }

            &__title {
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            &__list {
                @include flex(center, flex-start);

                &__item {
                    @include flex(center, center);

                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 1px solid $txt-second-color;
                    cursor: pointer;
                    margin-right: 1rem;

                    &:hover {
                        border-color: $main-color;
                    }

                    &.active {
                        border: 3px solid $main-color;
                    }

                    .circle {
                        width: 90%;
                        height: 90%;
                        border-radius: 50%;
                    }

                    &__size {
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 1.25rem;
                    }
                }
            }

            &__quantity {
                @include flex(flex-start, flex-start);

                &__btn {
                    @include flex(center, center);

                    width: 30px;
                    height: 30px;
                    border: 1px solid $txt-second-color;
                    font-size: 1.5rem;
                    cursor: pointer;
                }

                &__input {
                    @include flex(center, center);
                    height: 30px;
                    width: 70px;
                    font-size: 1.2rem;
                    border-top: 1px solid $txt-second-color;
                    border-bottom: 1px solid $txt-second-color;
                }
            }

            button {
                margin-right: 1rem;

            }
        }
    }
}